.arriba {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items:flex-start;
  position: sticky;
  top: 0;
  background-color: #57bc90;
  z-index: 1;
  height: 6rem;
}


.logo img {
  padding-top: 0.8rem;
  padding-left: 2rem;
}


.navbar {
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-top: 1.2rem;
  padding-right: 3rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.nav-item {
  margin: 1rem 0;
}

.nav-menu a {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 0.1rem;
  transition: background-size .3s;
}

.nav-menu a:hover, a:focus {
  background-size: 100% 0.1rem;
}



.hamburguer {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 2rem;
  height: 0.2rem;
  margin: 0.3rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out    ;
  color: white;
  background-color: white;    
}
