.arriba {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items:flex-start;
  position: sticky;
  top: 0;
  background-color: #57bc90;
  z-index: 1;
  height: 6rem;
}

.navbar2 {
  display: none;
}

.logo img {
  padding-top: 0.8rem;
  padding-left: 2rem;
}


.navbar {
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-top: 1.2rem;
  padding-right: 3rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.nav-item {
  margin: 1rem 0;
}

.nav-menu a {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 0.1rem;
  transition: background-size .3s;
}

.nav-menu a:hover, a:focus {
  background-size: 100% 0.1rem;
}

.menuresp {
  display: none;
}

.resp {
  display: none;
}

.item-resp {
  display: none;
}
  


@media screen and (max-width:950px) { 
  
  .logo img {
    padding-top: 0.8rem;
    padding-left: 0.5rem;
  }

  .nav-item  {
    display: none;
  }

  .menuresp {
    display: block;
    align-self: center;
    margin: 1rem 1rem;
    z-index: 2;
  }


  .menuresp .menuNav {
    display: block;
    width: 2rem;
    height: 0.2rem;
    margin: 0.3rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out    ;
    color: white;
    background-color: white;   
  }
  


  

.menuNav {
  list-style: none;
  height: 100%;  
  width: 0;
  overflow: hidden;
  background-color:  #57bc90;
}


.item-resp {
  display: flex;
  list-style: none;
  margin: 0rem 0rem;
  background-color: #FFFFFF;
  padding: 2rem 0rem;
}

.item-resp a {
  text-decoration: none;
  background-color:  #FFFFFF;
  color: black;
  padding: 0rem 0rem;
  font-size: 1.5rem;
}

.resp {
  display: block;
  position: fixed;
}


.cajita {
  position: fixed;
  background-color:  #FFFFFF;;
  margin-top: 6rem;
  border: 1px solid #57bc90;
  padding: 2rem 2rem;
  width: 95%;
}


  
}
