* {
    margin-top: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    
    
}

html {
    font-size: 1rem;
    background-color: whitesmoke;
    font-family: 'Bree Serif', serif;
    font-family: 'Montserrat', sans-serif;
    color:#5e5e5e;
    margin: 0.5rem 3rem;
    padding: 1rem 1rem ;
    max-height: 100%;
    
}

@media screen and (max-width:800px) {

    html {
        font-size: 1rem;
        background-color: whitesmoke;
        font-family: 'Bree Serif', serif;
        font-family: 'Montserrat', sans-serif;
        color:#5e5e5e;
        max-height: 100%;
        margin: 0rem 0rem;
        padding: 0rem 0rem ;
        
    }
    
    .top {
        display: none;
    }
    
    .arriba .pie, .contenedor, .container {
        height: 100%;
        font-size: 80%;
    }
    
    .logo { 
        width: 10rem; 
        background-color: 
    }
    
    .nav-menu a:hover, a:focus {
        background-size: 100% 0.1rem;
    };
    .nav-menu a {
        color: black;
    }
    
    .fotos img {
        width: 100%;
        height: 15rem;
        object-fit: contain;
        border-radius: 1rem;
        opacity: 0.8;
          
    }
    
    .btn {
        width: 100%;
    }
    
    
    
    }

