 .container {
    text-align: left;
 } 


 form{
    display: flex;
    flex-direction: column;
    
}

input, textarea {
    margin: 1rem;
    resize: none;
    padding: 0.5rem 0.5rem;
    border: 1px solid #57bc90;
    width: 75%;
    justify-content: center;
    align-items: center;
}

::placeholder {
    color:#6f6f6f;
}

.btn {
    background-color: #57bc90 ;
    border: 1px solid;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    width: 15%;    
    justify-content: center;
    align-self: center;
}


.container p {
    font-size: 1rem;
    background-color: whitesmoke;
    font-family: 'Bree Serif', serif;
    font-family: 'Montserrat', sans-serif;
    margin: 0.5rem 0.5rem;
    text-align: center;
}

.container h2 {
    text-align: center;
}

@media screen and (max-width:800px) {

.container {

    text-align: center;

}



.btn {
    background-color: #57bc90 ;
    border: 1px solid;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    width: 75%;    
    justify-content: center;
    align-self: center;
}

}